@{
    ViewBag.Title = "Home Page";
}
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Yackeen Solutions Technical Task</h1>
                <p class="lead">A simple content management system</p>
                <a href="@Url.Action("index","Article")" class="btn mt-3 btn-light border-secondary">View Blog Articles</a>
            </div>
        </div>
    </div>
</header>
